<!DOCTYPE html>
<html lang="pt-br" ng-app="personApp">
    <head>
        <title>A Proper Angular App</title>
        <link href="css/main.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <div class="row">
                            <div class="col-md-9 col-md-push-3">
                                <a class="navbar-brand"><h2>Cadastrar Pessoas</h2></a>
                            </div>
                            <div class="col-md-3 col-md-pull-9"><a class="navbar-brand">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <ng-view class="view"></ng-view>

    </body>
    <script src="js/scripts.js"></script>
</html>