<div class="container" ng-controller="CadPersonCtrl">
  <form>
    
    <div class="form-group">
      <label class="form-control-label" for="inputNome">Nome Completo</label>
      <input type="text" class="form-control" id="inputNome" placeholder="Informe o Nome Completo">
    </div>
    
    <div class="form-group">
      <label class="form-control-label" for="inputCPF">CPF</label>
      <input type="text" class="form-control" id="inputCPF" placeholder="Informe o CPF">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="inputDataNasc">Data Nascimento</label>
      <input type="text" class="form-control" id="inputDataNasc" placeholder="Informe a data de nascimento">
    </div>

    <div class="form-group">
      <label class="form-control-label" for="inputPeso">Peso Kg</label>
      <input type="text" class="form-control" id="inputPeso" placeholder="Informe o peso em KG">
    </div>

    <div class="form-group">
      <label for="selectUF">UF</label>
      <select class="form-control" id="selectUF">
        <option ng-repeat="u in ufs">{{ u.uf }}</option>
      </select>
    </div>
    <br>
  <!--<select class="form-control" ng-model="data.multipleSelect" multiple> 
    <option ng-repeat="r in searchresults ng-if="r.Name" value="{{r.id}}"> {{r.Name}} </option> 
  </select>-->

    <button type="submit" class="btn btn-success">Confirmar</button>
    <button type="submit" class="btn btn-warning">Cancelar</button>
  </form>
</div>