<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-md-3 col-md-pull-9">
                        <a class="navbar-left" href="#"><img src=""></a>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li><a href="#!persons">Pessoas</a></li>
            </ul>
        </div>
    </nav>
</header>