<div class="container" ng-controller="PersonCtrl">
    
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" href="#!cadPersons">
                    + Inserir Novo
                </a>
            </div>
   
        <table id="tbPerson" class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data Nasc</th>
                <th>Peso</th>
                <th>Estado</th>
                <th></th>
            </tr>
            <tr ng-repeat="person in persons ">
                <td></td>
                <td>{{ person.nome }}</td>
                <td>{{ person.cpf }}</td>
                <td>{{ person.nasc | date : "dd/MM/y" }}</td>
                <td>{{ person.peso }}</td>
                <td>{{ person.uf }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" ng-click="editPerson(person)">
                        Editar
                    </a>
                    <a class="btn btn-danger btn-sm" ng-click="delPerson(person)">
                        Excluir
                    </a>
                </td> 
            </tr>
        </table>
    </div>
</div>