<div class="container" ng-controller="PersonCtrl">
    
    <div  class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="btn-group" role="group">
                <a class="btn btn-primary" ng-click="addPessoa()">
                    + Inserir
                </a>
            </div>
   
        <table id="tbPerson" class="table table-striped">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data Nasc</th>
                <th>Peso</th>
                <th>Estado</th>
                <th></th>
            </tr>
            <tr ng-repeat="pessoa in pessoas ">
                <td></td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.cpf }}</td>
                <td>{{ pessoa.nasc | date : "dd/MM/y" }}</td>
                <td>{{ pessoa.peso }}</td>
                <td>{{ pessoa.uf }}</td>
                <td>
                    <a class="btn btn-warning btn-sm" ng-click="editPessoa(pessoa)">
                        Editar
                    </a>
                    <a class="btn btn-danger btn-sm" ng-click="delPessoa(pessoa)">
                        Excluir
                    </a>
                </td> 
            </tr>
        </table>
    </div>
</div>